@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,500;1,100;1,200&display=swap');


.title {
    font-size: 50px;
    color: blueviolet;
    font-family: 'Raleway', sans-serif;
    font-weight: 100 ;
}

.box_titl-2 {
    padding: 20px;
    background-color: rgba(147, 112, 216, 0.379);
    width: 60vw;
    border: 5px solid blueviolet;
    .text {
        line-height: 3.5vh;
    }
}
